<p>Hello <%= @user.name %>,</p>

<p>You’ve successfully set up a new phone to use for 2-step verification.
You’ll only be able to sign in with your new phone.</p>

<p>If you didn’t make this change, please contact Pension Wise. If you can’t do this
yourself, please contact your line manager.</p>

<p>The <%= link_to 'Pension Wise', "https://www.pensionwise.gov.uk" %> team</p>
