<p>Hello <%= @user.name %>,</p>

<p>Your 2-step verification has been reset. You’ll be asked to set this up
again next time you sign in.</p>

<p>If you didn’t make this request, please contact Pension Wise. If you can’t do this
yourself, please contact your line manager.</p>

<p>The <%= link_to 'Pension Wise', "https://www.pensionwise.gov.uk" %> team</p>
