<% content_for :title, "Edit #{@organisation.name}" %>

<h1></h1>

<%= form_for @organisation, :html => {:class => 'well add-top-margin'} do |f| %>

  <%= render partial: "form_errors" %>
  <%= render partial: "form_fields", locals: { f: f } %>

  <hr>

  <%= f.submit :class => 'btn btn-primary' %>
<% end %>
