<% content_for :title, "Edit your account" %>

<div class="page-title">
  <h1>Edit your account</h1>
</div>

<%= render partial: "form_errors" %>

<section class="well">
  <h2 class="remove-top-margin"><%= t(".change_passphrase") %></h2>
  <%= form_for current_user, :url => update_passphrase_user_path do |f| %>
    <%= render partial: "devise/passwords/change_password_panel", locals: { f: f, user: current_user, updating_password: true } %>
  <% end %>
</section>
